################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeeBot/bin
/BeeBot/obj
/BeeBot.Tests/bin/Debug
/BeeBot.Tests/obj/Debug/BeeBot.Tests.csproj.FileListAbsolute.txt
/BeeBot.Tests/obj/Debug
/BeeBot.Tests/obj/Release
/BlackJack/bin/Debug
Release
Debug
packages
.vs
/BBot.sln.DotSettings.user
/BeeBot/BeeBot.csproj.user
