
/* Card css */
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}


.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

    .profile-inline ~ .card-title {
        display: inline-block;
        margin-left: 4px;
        vertical-align: top;
    }

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
text-decoration: none;
color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}


body {
    background-color: #f2f2f2;
}

.poll {
    padding-bottom: 20px;
}

.pollTitle {
    font-size: 18px !important;
}

#sidebar {
    max-width: 250px !important;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 17px !important;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.login input, select, textarea {
    max-width: 100% !important;
}

.btn-login {
    margin-top: 20px;
    margin-bottom: 5px;    
}

.login-input {
    margin-top: 5px;
}



.btn {
    cursor: pointer;
}

.dontshow {
    display: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.userConnected {
    background-color: springgreen;
}

.userLeft {
    background-color: #d4d4d5;
}

.userTimedOut {
    background-color: #87ceeb;
}

.userBanned {
    background-color: #cd853f;
}

.userDonated {
    background-color: yellow;
}

.userFollowed {
    background-color: #008000;
}

.userSubbed {
    background-color: deeppink;
}

.fullbutton {
    width: 98% !important;
}

.smallinput {
    max-width: 50px !important;
}

.wide {
    min-width: 200px !important;
}

.halfwidth {
    width: 50% !important;
}

.quarterwidth {
    width: 25% !important;
}

.fullwidth {
    width: 100% !important;
}

.divCenter {
    margin-left: 50%;
    margin-right: 50%;
}

.console {
    width: 100%;
    min-height: 500px;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    background: #d4d4d5;
    border: 1px solid black;
}

songrequests {
    width: 100%;
    min-height: 300px;
    background: #d4d4d5;
    border: 1px solid black;
}

.chatstats {

    min-height: 340px;
    background: #f3f3f3;
    border: 1px solid #a9a9a9
}



.chattervalue {

    float: right !important;
}


.commandvalue {

    float: right;
}

.thumb {
    max-width: 85px !important;
}

.playlistitem {
    margin-left: 4px;
    padding: 2px 2px 2px 2px;
    border: 1px #eff0f1 solid;
}

.playlistitem:nth-of-type(odd) {
    background-color: #eff0f1;
}

    .playlistitem:nth-of-type(even) {
        background-color: white;
        border: 1px #aaaaaa solid
    }

    .playlistitem:hover {
        padding: 2px 2px 2px 2px;
        background-color: #cdcdcd;
        /*border: 1px solid #a9a9a9;*/
        cursor: pointer;
    }

.playing {
    background-color: thistle;
}

.commandsstats {
    min-height: 340px;
    background: #f5fffa;
    border: 1px solid #a9a9a9
}

.videoname {
    font-weight: bold;
}

.oneLine {
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    color: #f0f0f0;
    width: 100%;
}

.channelMenuHeader  {
    color: #afeeee !important;
    font-size: 21px;
    font-weight: 900 !important;
    font-style: normal !important;
}
.channelMenuHeader:hover {
    color: #afeeee !important;
    font-size: 21px;
    font-weight: 900 !important;
    font-style: normal !important;

}

.channelMenuHeader:visited {
    color: #afeeee !important;
    font-size: 21px;
    font-weight: 900 !important;
    font-style: normal !important;
}

.botconnectionstatus {
    /*font-weight: 700;*/
    font-size: 1.4em;
}
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    /*line-height: 300%;*/
}
	
.omb_login .omb_socialButtons a {
    color: white; /*// In yourUse @body-bg*/ 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-twitch {background: #6441A4; color: #ffffff !important}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
    .omb_login .omb_loginOr .omb_spanOr {
        display: block;
        position: absolute;
        left: 50%;
        top: -0.6em;
        margin-left: -1.5em;
        background-color: #f2f2f2;
        width: 3em;
        text-align: center;
    }			

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }		
}

.easy-autocomplete {
    z-index: 30000 !important;
}


.inverted {
    background-color: #4D4C4C !important;
    color: #ffffff !important;
    filter: invert(100%);
    -webkit-filter: invert(100%); /* Safari */
}



.youtubePlayerIgnore {
    filter: invert(0%) !important;
    -webkit-filter: invert(0%) !important; /* Safari */
}

.inverted h1, .inverted h2, .inverted h3, .inverted h4{
    color: #ffffff;
}



.channelOnline {
    background-color: red;
}

.channelOffline {
    background-color: #a9a9a9;
}


.playlistHeader {
    font-size: 1.4em;
}

.playControl {
    border: 1px solid grey !important;
    border-radius: 0 !important;
}

.playlistContent {
    padding-left: 3px !important;
    list-style-type: none;
}

.playlistContent li {
    margin-bottom: 3px;
    background-color: #EFF0F1;
    padding: 3px;
    
}

.playlistContent li:hover {
    cursor: pointer;
    background-color: #87ceeb;
}

.playlistContent [data-playing="true"] {
    background-color: #00ff7f !important;
}

.playlistContent [data-played="true"] {
    background-color: #696969;
}

.rightMargin {
    margin-right: 5px;
}


#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    max-width: 200px;
    background-color: #333;
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

    #sidebar .list-group-item:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
    padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

@media (max-width:768px) {

    .channelMenuHeader {
        display: none !important;
    }

    .ytbotLogo, .ytbotCopyright {
        display: none !important;
    }



    .botstatus {
        display: none !important;
    }

    .maincontent, .main {
        margin-left: 30px;
    }

        .maincontent, .main  .collapse {
            margin-left: 0px;
        }

        #sidebar {
            min-width: 35px;
            max-width: 40px;
            overflow-y: auto;
            overflow-x: visible;
            transition: all 0.25s ease;
            transform: translateX(-45px);
            position: fixed;
        }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
    visibility: visible;
}
.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}