@using YTBot.Models
@model BeeBot.Models.BotUserSettings

@{
    var words = (List<string>)ViewBag.BannedWords;
}
<h2>Chat options</h2>
<hr />
<div class="card card-body bg-light">
<div class="row dontshow">
    <div class="col-md-12 mt-2 mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="followersonly" name="followersonly">
            <label class="form-check-label" for="followersonly">
                Followers only chat (10 mins)?
            </label>
        </div>
    </div>

    <div class="col-md-12 mt-2 mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="slowchat" name="slowchat">
            <label class="form-check-label" for="slowchat">
                Slow chat?
            </label>
        </div>
    </div>

    <div class="col-md-12 mt-2 mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="linksallowed" name="linksallowed">
            <label class="form-check-label" for="linksallowed">
                Links allowed?
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        Banned words:
    </div>

    <div class="col-md-12">
        <input class="form-control fullwidth bannedwords" type="text" name="bannedwords"  value="@string.Join(",",words)" />
    </div>

    <div class="col-md-12 mt-3">
        <button class="btn btn-light mt-2 loadbannedwordsbtn dontshow"><i class="fa fa-save"></i> Load default words</button>
        <button class="btn btn-secondary mt-2 savebannedwordsbtn "><i class="fa fa-save"></i> Save</button>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
    });
    var twitchHub = $.connection.twitchHub;

    (function () {
        // Defining a connection to the server hub.
        
        // Setting logging to true so that we can see whats happening in the browser console log. 
        $.connection.hub.logging = true;
        // Start the hub
        $.connection.hub.start().done(function () {
            setTimeout(function () {
                twitchHub.server.getChatOptions();

                if ($(".bannedwords").val() == "") {
                    $(".loadbannedwordsbtn").toggleClass("dontshow");
                }

            }, 3000);

                
        }
        );

        $(".loadbannedwordsbtn").click(function () {
            $(this).hide();
            twitchHub.server.getDefaultBannedWords();
        });

        $(".savebannedwordsbtn").click(function () {
            twitchHub.server.saveBannedWords($(".bannedwords").val());
        });


        // Onload spinner
        $(".maincontent").LoadingOverlay("show", {
            background: "rgba(0, 0, 0, 0.0)"
        });

        twitchHub.client.Fail = function (ret) {
            console.log(ret);
            $(".maincontent").LoadingOverlay("hide");

            console.log(ret.message);
            $.amaran({
                'theme': 'colorful',
                'content': {
                    bgcolor: '#ff3300',
                    color: '#fff',
                    message: ret.message,
                },
                'closeOnClick': false,
                'inEffect': 'slideTop'
            });
            
        }
        twitchHub.client.SetDefaultBannedWords = function(ret) {
            console.log(ret);

            $(".bannedwords").val(ret);
        }

        twitchHub.client.SavedBannedWords = function(ret) {
            if (ret.data == "1") {
                console.log(ret.message);
                $.amaran({
                    'theme': 'colorful',
                    'content'   :{
                        bgcolor:'#27ae60',
                        color:'#fff',
                        message: ret.message,
                    },
                    'closeOnClick':false,
                    'inEffect':'slideTop'
                });
                //});
            } else {
                console.log(ret.message);
                $.amaran({
                    'theme': 'colorful',
                    'content': {
                        bgcolor: '#ff3300',
                        color: '#fff',
                        message: ret.message,
                    },
                    'closeOnClick': false,
                    'inEffect': 'slideTop'
                });
            }
        }

        twitchHub.client.SetChatOptions = function(ret) {
            console.log(ret);
            $(".maincontent").LoadingOverlay("hide");

            if (ret.data == "1") {
                console.log(ret.message);


                //});
            } else {
                console.log(ret.message);
                $.amaran({
                    'theme': 'colorful',
                    'content': {
                        bgcolor: '#ff3300',
                        color: '#fff',
                        message: ret.message,
                    },
                    'closeOnClick': false,
                    'inEffect': 'slideTop'
                });
            }
        }


    })()
</script>