@model BeeBot.Models.BotUserSettings

<h2>Dashboard</h2>
<hr/>

@*<div class="row">
    <div class="card card-body bg-light col-md-11 ml-1 statisticDiv">
        @{Html.RenderAction("GetChannelStats", new {channelname = @Model.BotChannel});}
    </div>
</div>*@
<div class="row">

    <div class="col-md-5 card card-body bg-light ml-1">
        <iframe frameborder="0"
                scrolling="yes"
                id="chat_embed"
                src="http://www.twitch.tv/embed/@Model.BotChannel/chat"
                height="800"
                width="100%"></iframe>
    </div>
    <div class="col-md-6 card card-body bg-light ml-1">
        <iframe src="http://player.twitch.tv/?channel=@Model.BotChannel&muted=true"
                height="400"
                width="100%"
                frameborder="0"
                scrolling="no"
                allowfullscreen="1"></iframe>
    </div>

</div>